ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(255, 255, 255);
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #ffffff;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #fcb021;
    text-decoration: underline;
  }

  ul.breadcrumb-white li+li:before {
    padding: 8px;
    color: rgb(0, 0, 0);
    content: "/\00a0";
  }
  ul.breadcrumb-white li a {
    color: #000000;
    text-decoration: none;
  }
